# Python venv
venv/

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# Env files
.env
*.env

# Expo cache
.expo/
.expo-shared/

# Project-specific
backend/db.sqlite3
*.json  # evita subir fixtures con datos reales
*.log   # si usas logging local
*.sqlite3  # por si el archivo se mueve

# VS Code
.vscode/

# macOS
.DS_Store
